.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
.DS_Store
**/.DS_Store
R_Stan_Scripts/gpd_model
R_Stan_Scripts/poisson_model
/*_files/
/*_cache/
/libs/
/figure_html/
01_Posterior_Predictive_Checks_files/
